 <!-- Header -->
        <header class="header  ">
            <div class="wrapper">
                <nav class="nav">
                    <div class="justifize">
                        <div class="justifize__box">
                            <a href="#!" class="nav__logo icon-logo"></a>
                        </div>
                        <div class="justifize__box">
                            <ul class="nav__menu">
                                <li>
                                    <a href="#!">Product</a>
                                </li>
                                <li>
                                    <a href="#!">Company</a>
                                </li>
                                <li>
                                    <a href="#!">Blog</a>
                                </li>
                                <li class="nav__action">
                                    <a href="#footer" class="btn btn--primary page-scroll">Contact</a>
                                </li>
                            </ul>
                            <button id="nav-toggle" class="nav__trigger">
                                <span class="first"></span>
                                <span class="second"></span>
                                <span class="third"></span>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Header ./end-->